body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    line-height: 1.42;
    font-size: 16px;
    background-image: url(img/background.png);
    -webkit-font-smoothing: antialaised;
    -moz-osx-font-smoothing: grayskale;
    margin: 0;
}

a {
    column-rule: inherit;
    text-decoration: none;
    color: #FFFFFF;
}

* {
    box-sizing: border-box;
}
     
p {
    margin: 0;
}

ul {
    padding: 0px;
    margin: 0px;
}

ul li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    font-weight: normal;
}

body , html {
    height: 100%;
}

.warapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
    min-width: 1200px;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    margin: 0 auto;
    width: 1141px;
}

.hero__container {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 min-width: 500px;
}

.hero {
    margin-bottom: 246px;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 29px;
}

.header__main {
    margin-bottom: 118px;
}

.logo {
    display: block;
    margin-right: 79px;
    
}

.header__col {
    display: flex;
    align-items: center;
}

.header__col-align-right {
    justify-content: flex-end;

}

.contact {
    right: 0;
}

.address__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 44px;
}

.address__item:last-child {
margin-right: 0;
}

.address__link {
    font-size: 13px;
    
}

.address__link:hover {
    background: #DA0100;
}

.contact{
    font-style: normal;
    text-align: right;
}

.contact__phone{
    font-size: 26px;
}

.contact__workhours{
    font-size: 13px;
    text-decoration: underline;
}

.hero__title {
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 98px;
    width: 45%;
    margin-bottom: 27px;

}

.hero__text {
    font-size: 18px;
    margin-bottom: 32px;
}  

.button {
    display: inline-block;
    background-color: #F5170E;
    border-radius: 25px;
    padding: 18px 40px;
    font-weight: normal;
    font-size: 14px;
    font-weight: bold;
}

.button:hover {
    background-color: #DA0100;
}

.section__tours {
    margin-bottom: 264px;
}

.tours__list {
    display: flex;
    justify-content: space-between;
}

.tours__header {
    display: inline-block;
    
}

.tours {
    margin-bottom: 130px;
}

.tours__title {
    font-size: 36px;
    margin-bottom: 52px;
    width: 273px;
    margin-right: 12px;
    display: inline-block;  
    line-height: 1.3;
}

.tours__pic {
    border-radius: 5px 5px 0 0;
}

.tours__icons {
   display: inline-block; 
}

.tours__item {
    min-height: 449px;
    background: #FFFFFF;
    border-radius: 5px;
    width: calc(100% /3 - 18px);
}



.tours__item:last-child {
    margin-right: 0px;
}

.toures__img {
    min-height: 144px;
}

.tours__subtitle {
    color: #000;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 14px;
    
}

.tours__catalog {
    margin-bottom: 21px;
    display: flex;
    justify-content: space-between;
}

.tours__content {
    padding: 34px 38px 26px 22px;
}



.tours__option:last-child {
    padding-right: 0;
}

.tours__option-img1   {
    display: inline-block;
    vertical-align: middle;
    
}

.tours__option-img2   {
    display: inline-block;
    vertical-align: middle;
}

.tours__indent {
    font-size: 16px;
    color: #666666;
    display: inline-block;
    line-height: 36px;
    margin-left: 7px;
}

.tours__discription {
    color:  #303030;
    font-size: 14px;
    margin-bottom: 29px;
}

.button_style_transparent {
    color: #F5170E;
    background: #FFFFFF;
    padding: 16px 29px;
    border: 1px solid #F5170E ;
}

.button_style_transparent:hover {
    color: #FFFFFF;
}

.promotions__topic {
    margin-bottom: 48px;
   
}

.promotions {
    margin-bottom: 52px;
}

.promotions__news {
    display: flex;
    justify-content: space-between ;
}

.promotions__catalog {
    vertical-align: top;
    position: relative;
    border-radius: 5px;
    height: 394px;
    margin-right: 25px;
    flex: 1;
}

.promotions__pic {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    overflow: hidden;
    
}


.single-catalog__text {
    position:absolute;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 140px;
    padding: 10px 29px 46px 31px;
}

.single-catalog__date {
    font-size: 14px;
    line-height: 21px;
    padding-bottom: 12px;
    
}

.single-catalog__title {
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
    padding-bottom: 4px;
    
}

.single-catalog__сomment {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}


.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginator__main {
    margin-bottom: 152px;
}

.paginator__list {
    display: flex;
    align-items: center;
}

.paginator__display {
    margin-right: 22px;
    margin-left: 17px;
}

.paginator__item {
   text-align: center;
}

.paginator__button {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
}


.paginator__item--active .paginator__button {
    background: #FFFFFF;
    color: #F5170E;
    display: block;
}

.paginator__button:hover {
    background: #FFFFFF;
    color: #F5170E;
    display: block;
}

.about {
    display: flex;
}

.about__list {
    margin-bottom: 54px;
}

.about__description {
    left: 0;
    top: 0;
    bottom: 0;
    position:absolute;
    padding: 70px 202px 66px 81px;
    max-width: 785px;
}

.about__pic-1, .about__pic-2{
    border-radius: 5px;
}

.about__fragment {
    position: relative;
    margin-top: -405px ;
    margin-left: 353px;

}
    
.about__title {
    color: black;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;  
    margin-bottom: 37px;
}

.about__text {
    Font-style: normal;
    Font-size: 16px;
    Line-height: 27px;
    color: black;
    margin-bottom: 70px;
}

.footer-container__content {
    border-top: 1px solid rgba(255, 255, 255, 0.1); 
}

.footer-container__section {
    height: 148px;
}

.footer {
    position: relative;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__col {
    display: flex;
    align-items: center;
}

.footer__col-align-right {
    align-items: flex-end;
    align-items: center;
}

.title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
}

.social__link{
    display: block;
    text-decoration: none;
    height: 36px;
    width: 36px;
}


.social__icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.social__icon:last-child {
    margin-right: 0;
}

.social {
    margin-right: 74px;
}

.social__icon-tg {
    background-image: url(./img/telegram.png);
}

.social__icon-fb {
    background-image: url(./img/f.png);
}

.social__icon-ig {
    background-image: url(./img/in.png);
}

.social__icon-vk {
    background-image: url(./img/vk.png);
}

.social__icon-tg .social__link:hover {
  background-image: url("./img/t2.png")
}

.social__icon-fb .social__link:hover {
    background-image: url("./img/f2.png")
}

.social__icon-ig .social__link:hover {
    background-image: url("./img/i2.png")
}

.social__icon-vk .social__link:hover {
    background-image: url("./img/v2.png")
}

.main-page-wrapper {
    background: url(./img/backgroundheader.png) center top no-repeat, url(./img/backgroundfooter.png) right  bottom  no-repeat; 
}

.promotions__pic , .about__pic-2 , .about__pic-1 , .tours__pic{
    display: block;
    max-width: 100%;
}

.footer__container {
    margin-top: auto;
}

/* reviews page */

.reviews{
    column-count: 2;
    column-gap: 30px;
}

.reviews__item {
    margin-bottom: 2px;
}

.reviews__item p {
    margin-bottom: 74px;
}

.review__item p:nth-child(1) {
    margin-bottom: 0;
}

.review {
    display: inline-flex;
    flex-direction: column;
    padding: 50px 30px; 
}

.avatar {
    width: 140px;
    height: 140px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 22px;
}


.review__header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.review__user {
   display: flex;
   align-items: center; 
   font-style: normal;
   font-weight: bold;
   font-size: 24px;
   line-height: 42px;
   color: #1A1B1E;
   margin-bottom: 4px;
}

.review__user::after {
    content: url(./img/vk-blue\ 1.png);
    height: 35px;
    margin-left: 8px;
}

.review__tags {
    display: flex;
    align-items: flex-start;
}

.paginator__reviews {
    margin-bottom: 75px;
}

.tag {
    font-size: 13px;
    line-height: 18px;
    color:  #303030;
    padding: 9px 18px;
    border-radius: 35px;
    background: #E7E7E7;
}

.tag--bg--green {
    background: #B9EAE4;
}

.title__content {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;
    color: #1A1B1E;
}

.review__title {
    margin-bottom: 12px;
}

.review__content-text {
    margin-bottom: 50px;
}

.review__date {
    font-size: 14px;
    line-height: 27px;
    color: #1A1B1E;
    font-weight: bold;
}

.page-reviews {
    padding: 102px 0 1px 0  !important;
}

.page-reviews:last-child {
    padding: 0;
}

.review:last-child {
    margin-bottom: 28px;
}

.separator {
    display: flex;
    background: url(./img/Rectangle.png) center no-repeat;
    min-height: 363px;
    flex-direction: column;
    justify-content: center;
}

.separator__content {
    max-width: 50%;
}

.separator__title {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
}

.inner-section {
    padding-top: 62px;
    background: white;
    color: #000;
}

.inner__title {
    margin-bottom: 62px;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
}

.form__row {
    display: flex;
    margin-bottom: 15px;
}

.form__input {
    flex: 1;
    margin-right: 28px;
    border-radius: 4px;
    border: none;
    background: #FFF;
    padding: 20px 30px;
    color: #1A1B1E;
    font-size: 18px;
    line-height: 25px;
    width: 553px;
    border: 1px solid #FFF;
}

.form__input::placeholder{
    color: #666;
}

.form__input--active:hover {
    border: 1px solid #F5170E;
}

.form__input:last-child {
    margin-right: 0px;
}

.form__input--textarea {
    height: 235px;
    width: 1140px;
    margin-bottom: 50px;
}

.form__controls {
    display: flex;
    margin-bottom: 50px;
}

.form__controls-title {
    width: 40%;
}

.controls {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.controls__elem {
    cursor: pointer;
}

.controls__tag {
    font-weight: normal;
    font-size: 13px;
    line-height: 18px
}

.controls__title {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    padding-left: 42px
}

.controls__checkbox:checked ~ .controls__tag {
    background: #B9EAE4;;
}

.controls__checkbox {
    display: none;
}

.controls__item {
    margin-top: 10px;
    margin-right: 10px;
}

.button__reviwes ,.button__reviwes--grey {
    border: none;
    cursor: pointer;
    color: #FFF;
}

.button__reviwes--grey {
  background:  #8E8E8E;
  margin-right: 20px;
}

.button__reviwes--grey:hover {
    background:  #2B2B2B;
}

.form__btns {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 96px;
}

.form__btn:last-child {
    margin-right: 0;
}

/*welcome page */

.welcome {
    display:flex;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: url(./img/bg.png) center bottom / cover no-repeat;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center__title {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 53px;
}

.center__asia {
    opacity: 0;
    animation: zoom 0.9s ease-in;
    animation-fill-mode: forwards;
}

.button__welcome {
    padding: 18px 60px;
}

@keyframes zoom {
    from {
        transform: scale(.7);
    }

    20% {
        transform: scale(1.15);
    }

    40% {
        transform: scale(0.9);
    }

    60% {
        transform: scale(1.1);
    }

    80% {
        transform: scale(1.1);
    }

to {
    opacity: 1;
    transform: scale(1);
}
}